!!!

%html
  %head
    %meta{charset: "UTF-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %link{rel: "stylesheet", href: "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css"}
    %link{rel: "stylesheet", href: "./css/style.css"}
    %title Balin the Job Miner
  %body
    = yield 
    .has-text-centered.is-size-7
      %a{href:"https://saaliklok.com", target: "_blank"} Built by Saalik Lokhandwala, 2021
      %br
      %a{href:"https://github.com/SaalikLok/balin-the-job-miner", target: "_blank"} GitHub
    